<div id="nested-fields">
    <%= f.label :order %>: <%= f.number_field :order %><br>
    <%= f.label :position %>: <%= f.text_field :position %><br>
    <%= f.label :action %>: <%= f.text_area :action %>
</div>