<div id="nested-fields">
  <div class="field">
    <%= f.label :order %>:<br>
    <%= f.number_field :order, :in => 0..9999 %>
  </div>

  <div class="field">
    <%= f.label :action, "* Do this" %>:<br>
    <%= f.text_area :action %>
  </div>

  <div class="field">
    <%= f.label :position, "* For this many rows" %>:<br>
    <%= f.text_field :position %><br>
  </div>


</div>