<div id="patternContainer">
	<div class="form">
		<div class="pattern">
			<h1>Add a pattern</h1>
		</div>
		<%= simple_form_for @pattern do |x|  %>
			<div class="patternfield">
				<%= x.label :title %>:<br>
				<%= x.text_field :title %>
			</div>
			
			<div class="patternfield">
				<%= x.label :description %>:<br>
				<%= x.text_area :description %><br>
			</div>

			<div class="patternfield">
				<%= x.label :gauge %>:<br>
				<%= x.text_field :gauge %><br>
			</div>
			
			<div class="patternfield">
				<%= x.label :needles %>:<br>
				<%= x.text_field :needles %><br>
			</div> 
			
			<div class="patternfield">
				<%= x.label :yarn %>:<br>
				<%= x.text_field :yarn %>
			</div>

			<div class="pattern">
				<h3>Steps</h3>
			</div>

			<div class="links">
				<%= link_to_add_association 'add a step', x, :steps %>
			</div>
			<%= x.simple_fields_for :steps do |step| %>
				<%= render 'step_fields', :f => step %>
		  <% end %>
		  <div class="submit">
		  <%= x.submit "Add Pattern" %>
		  </div>
		<% end  %>
	</div>
</div>