<h1><%= @pattern.title %></h1>
<p><%= @pattern.description %></p>
<p>Yarn: <%= @pattern.yarn %><br>
Needles: <%= @pattern.needles %><br>
Gauge: <%= @pattern.gauge %></p>

<div id="full_pattern">
<% @pattern.steps.each_with_index do |step, index| %>
  <div data-step="<%= index+1 %>" class="step" style="display: none;">
    <p><%= step.action %></p>
  </div>
<% end %>
</div>
<div "next-step">
<button class="btn btn-next-step">Next Step</button>
</div>
<div "previous-step">
<button class="btn btn-previous-step">Previous Step</button>
</div>
<div class="showPattern">
<button class="btn btn-show-all">Show Pattern</button>
</div>
<div class="showPattern" style="display:none;">
<button class="btn btn-hide-all">Hide Pattern</button>
</div>
<div class="counter">
  <p><span class="count">0</span><button class="btn btn-increment">+</button> </p>
  <button class="btn btn-decrease">-</button> </p>
</div>
