<h1><%= @pattern.title %></h1>
<p><%= @pattern.description %></p>
<p>Yarn: <%= @pattern.yarn %><br>
Needles: <%= @pattern.needles %><br>
Gauge: <%= @pattern.gauge %></p>

<div id="full_pattern">
<% @pattern.steps.each_with_index do |step, index| %>
  <p data-step=<%= index+1 %> class="step hide"><%= step.action %></p>
<% end %>
</div>

<button class="btn btn-show-all">Entire Pattern</button>

<button class="btn">Next Step</button>


<script type="text/javascript">
$(document).ready(function() {
  $(".step").first().removeClass("hide").addClass("show");

  $(".btn").on("click", function(){
    var lastShown = $(".show");
    lastShown.next().removeClass("hide").addClass("show");
    lastShown.removeClass("show").addClass("hide");
  });

  $(".btn-show-all").on('click', function(){
    $(".step").removeClass("hide").addClass("show");
  });
});
</script>

<style type="text/css">
  .hide {
    display:none;
  }

  .show {
    display: block;
  }
</style>