<!DOCTYPE html>
<html>
<head>
  <title>Knitly</title>
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function(){
    });
</script>
</head>
<body>
  <header>
    <div class="container">
      <div class="navabar navbar-static-top">
        <h3 class="muted">Knitly</h3>
        <div class="navbar">
          <div class="navabar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active">
                  <a href="/"><span class="logo">Knitly</span></a></li>
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/projects">Projects</a>
                </li>
                <li>
                  <a href="/patterns">Patterns</a>
                </li>
              </ul>
            </div>
          </div>
        </div>           
    </div>
  </header>
<div id="container">
    <div class="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.username %>.
        <%= link_to "Log out", logout_path %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <footer class="container-wide">
    <div class="large-12 columns"><hr />
      <div class="row">
        <div class="large-6 columns">
            <p>&copy;</p>
        </div>
        <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
        </div>
      </div>
  </div>
  </footer>
</body></html>