<!DOCTYPE html>
<html>
<head>
  <title>Knitly</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function(){
    });
</script>
</head>
<body>


<div id='cssmenu'>
<div id="logollama">
  <%= link_to image_tag("knitlythellama.png"), patterns_path %>
</div>

<ul>
   
      <% if current_user %>
        <li>
          <%= link_to "Log Out", logout_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Log In", welcome_url %>
        </li>
        <li>
          <%= link_to "Sign Up", signup_url %>
        </li>
      <% end %>
  

   <li><%= link_to "Patterns", patterns_path %></li>
</ul>
</div>



      <%= yield %>
</body></html>